body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #07FFA6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.input-group button:hover {
    background-color: #04db8c;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.message-container {
    margin-top: 10px;
}

.message-container p {
    font-size: 14px;
}

.message-container a {
    color: #4CAF50;
    text-decoration: none;
}

.message-container a:hover {
    text-decoration: underline;
}
